@use "sass:color";
@use "../abstracts/media-quiries";
@use "../abstracts/variables";

body, html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
    max-width: 96%;
    margin: 0 auto;
    /* on non mobile its full width */
    @include media-quiries.media-query(laptops){
        font-size: 1.01rem;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: variables.$link-color;
    text-decoration: none;
    background-color: transparent;
    &:visited{
        color: color.adjust(variables.$link-color , $lightness: -10%);
        font-weight: bold;
    }
    &:hover {
        color: variables.$link-hover-color;
        text-decoration: underline;
    }
}

ul {
    list-style-position: inside;
}

ul li{
    margin-bottom: 0.3rem;
}
