@use "../abstracts/media-quiries";

@mixin right-aligned-container {
    width: 94.5%;
    margin-left: auto;
    margin-right: 0;
    @include media-quiries.media-query(laptops){
        width: 88%;
    }
    @include media-quiries.media-query(four_k){
        width: 85%;
    }
}

.right-aligned-container{
    @include right-aligned-container()
}

.small-container{
    width: 89%;
    margin: 0 auto;
    @include media-quiries.media-query(laptops){
        width: 45%;
    }
    @include media-quiries.media-query(four_k){
        width: 40%;
    }
    &--no-center{
        margin: 0;
    }
}

.container {
    width: 96%;
    margin: 0 auto;
    @include media-quiries.media-query(tablets){
        max-width: 60%;
    }
    @include media-quiries.media-query(laptops){
        width: 86%;
    } 
    @include media-quiries.media-query(four_k){
        width: 60%;
    }
}

.medium-container{
    width: 89%;
    margin: 0 auto;
    @include media-quiries.media-query(laptops){
        width: 52%;
    }
    @include media-quiries.media-query(four_k){
        width: 50%;
    }
}

.bg-light{
    background-color: #F4F4F4 !important;
}