.modal-card {
  background-color: transparent;
}

.modal-card-head {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(161, 161, 161, 0.5);
  box-shadow: none;
}

.modal-card-body {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(161, 161, 161, 0.5);
  border-top: none;
  backdrop-filter: blur(10px);
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.1);
  // backdrop-filter: blur(10px);
}
.modal-card-foot {
  background-color: rgba(255, 255, 255, 0.5);
border: 1px solid rgba(161, 161, 161, 0.5);
  border-top: none;
  backdrop-filter: blur(5px);
}

.modal-card {
  width: 90%;
  max-width: 500px;
}

.notification {
  margin-bottom: 1rem;
}

.modal-card-body {
  max-height: 70vh;
  overflow-y: auto;
}

.field {
  margin-bottom: 1.5rem;
}

/* Add animation */
.modal.is-active .modal-card {
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
