<div class="book__outside-container">
  <div class="side-punch" style="top: 1rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 5rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 9rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 13rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 17rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 21rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 25rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 29rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>

  <div class="side-punch" style="top: 33rem;">
    <div class="side-punch__outside-circle"></div>
    <div class="side-punch__line"></div>
    <div class="side-punch__inside-circle"></div>
  </div>
  
  <div class="book book__container">
    <div class="book book__container-black">
      <div class="book book__container-top">
        <div class="main-block">
          <h1 class="title is-1 has-text-white mb-5">{{ title }}</h1>
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
